config HYSIM_CONTROL_CLIENT
        tristate "Control client"
        default n
        ---help---
                Enable the control client application for sending commands to
                the hybrid control system.

if HYSIM_CONTROL_CLIENT

config HYSIM_CONTROL_CLIENT_PROGNAME
        string "Program name"
        default "control_client"
        ---help---
                This is the name of the program that will be used for the
                control client application.

config HYSIM_CONTROL_CLIENT_PRIORITY
        int "Control client task priority"
        default 100

config HYSIM_CONTROL_CLIENT_STACKSIZE
        int "Control client stack size"
        default DEFAULT_TASK_STACKSIZE

config HYSIM_CONTROL_CLIENT_INTERVAL
	int "interval"
	default 5
	---help---
		The interval at which to send TCP keep-alive probes, in seconds.

config HYSIM_CONTROL_CLIENT_NPROBES
	int "Probe count"
	default 3
	---help---
		The number of TCP keep-alive probes to send before declaring a
		connection broken.

endif

