config HYSIM_PAD_SERVER
        tristate "Pad server"
        default n
        ---help---
                Enable the pad server application for controlling the hybrid
                rocket control system.

if HYSIM_PAD_SERVER

config HYSIM_PAD_SERVER_PROGNAME
        string "Program name"
        default "pad_server"
        ---help---
                This is the name of the program that will be used for the
                pad server application.

config HYSIM_PAD_SERVER_PRIORITY
        int "Pad server task priority"
        default 100

config HYSIM_PAD_SERVER_STACKSIZE
        int "Pad server stack size"
        default DEFAULT_TASK_STACKSIZE

config HYSIM_PAD_SERVER_MOCK_DATA
        bool "Use mock data instead of real sensors"
        default n

config HYSIM_PAD_SERVER_DEBUG
		bool "Debug logging"
		default n
		---help---
			Enables debug logging options for the pad server

if HYSIM_PAD_SERVER_DEBUG

config HYSIM_PAD_SERVER_LOG_ERR
		bool "Debug error logging"
		default n
		---help---
			Enables error log output

config HYSIM_PAD_SERVER_LOG_WARN
		bool "Debug warning logging"
		default n
		---help---
			Enables error log output

config HYSIM_PAD_SERVER_LOG_WARN
		bool "Debug info logging"
		default n
		---help---
			Enables info log output

endif

endif
